# Gene Expression Dataset Exploration

In [55]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from preprocessing import train_test_val_split

In [ ]:
DATA_PATH = "../data/SCANB.csv"
LABEL_PATH = "../data/sampleinfo_SCANB_t.csv"

In [21]:
df = pd.read_csv(DATA_PATH)

In [54]:
TRAIN_PCT = 0.7
VALIDATION_PCT = 0.1
RANDOM_SEED = 2

In [ ]:
df.head()

,Unnamed: 0,F1,F2,F3,F4,F5,F6,F9,F10,F11,...,F2841repl,F2860repl,F2872repl,F2877repl,F2911repl,F2912repl,F2958repl,F3057repl,F3085repl,F3135repl
0,A2M,-1.098234,0.110096,-1.779393,0.268360,0.616851,3.433406,-0.424064,0.357813,0.629575,...,0.340017,-0.427134,-0.811695,1.155090,-0.873224,-0.186538,-0.071234,1.535495,-2.769459,1.348425
1,A4GNT,-0.615048,-0.615048,-0.615048,-0.615048,-0.615048,-0.615048,-0.615048,-0.615048,3.324828,...,2.004878,0.408918,-0.615048,2.120522,-0.615048,2.274780,0.598461,1.185567,-0.615048,-0.615048
2,AAAS,-1.670827,0.248934,-0.422635,0.236302,-0.988261,-1.263231,-2.147768,-1.700644,0.055263,...,-0.807723,-1.566462,1.859718,-1.240860,1.058475,-0.234717,-0.501922,0.165044,0.883363,-1.641798
3,AACS,-0.539020,0.032084,0.392158,0.563540,-0.083663,-0.748093,-0.999103,-1.358139,2.157231,...,0.241122,-0.216516,0.841555,-1.019500,-0.108282,0.508552,0.663004,-0.257163,-0.884103,0.819606
4,AADAC,0.098325,0.262344,-0.711190,-0.373168,0.067739,-0.711190,-0.711190,-0.183505,-0.021691,...,-0.711190,2.818603,-0.711190,-0.711190,-0.711190,-0.711190,-0.711190,-0.711190,-0.056693,-0.711190

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9264 entries, 0 to 9263
Columns: 3070 entries, Unnamed: 0 to F3135repl
dtypes: float64(3069), object(1)
memory usage: 217.0+ MB

In [60]:
labels = pd.read_csv(LABEL_PATH)

In [19]:
labels.head()

   Unnamed: 0 samplename  ER   PAM50  time  event    Lympho  cluster2
0           1         F1   1   Basal  2367      0  2.602223         6
1           2         F2   2    LumA  2367      0  1.104544         5
2           3         F3   2    LumB  2168      1  0.581018         5
3           4         F4   2    LumA  2416      0  2.882004         6
4           5         F5   2  Normal  2389      0  1.013356         4

In [23]:
labels['is_lumA'] = labels.PAM50 == 'LumA'

In [24]:
labels.head()

   Unnamed: 0 samplename  ER   PAM50  time  event    Lympho  cluster2  is_lumA
0           1         F1   1   Basal  2367      0  2.602223         6    False
1           2         F2   2    LumA  2367      0  1.104544         5     True
2           3         F3   2    LumB  2168      1  0.581018         5    False
3           4         F4   2    LumA  2416      0  2.882004         6     True
4           5         F5   2  Normal  2389      0  1.013356         4    False

In [61]:
train, validation, test = train_test_val_split(labels, RANDOM_SEED, TRAIN_PCT, VALIDATION_PCT)

In [62]:
validation

,Unnamed: 0,samplename,ER,PAM50,time,event,Lympho,cluster2,dataset
1,2,F2,2,LumA,2367,0,1.104544,5,Validation
5,6,F6,1,Basal,2373,0,1.569666,4,Validation
10,11,F13,2,LumA,2377,0,1.284890,5,Validation
19,20,F22,2,LumA,1849,1,1.790039,5,Validation
26,27,F29,1,Her2,974,1,2.218066,6,Validation
...,...,...,...,...,...,...,...,...,...
3006,3007,F1108repl,2,Normal,996,0,4.174009,6,Validation
3014,3015,F1628repl,2,LumA,1804,0,0.918816,5,Validation
3018,3019,F1658repl,2,LumA,1697,0,0.870622,5,Validation
3024,3025,F1928repl,2,LumB,969,0,2.830451,6,Validation
3054,3055,F2703repl,2,LumB,2312,0,0.900740,5,Validation

In [63]:
labels

      Unnamed: 0 samplename  ER   PAM50  time  event    Lympho  cluster2
0              1         F1   1   Basal  2367      0  2.602223         6
1              2         F2   2    LumA  2367      0  1.104544         5
2              3         F3   2    LumB  2168      1  0.581018         5
3              4         F4   2    LumA  2416      0  2.882004         6
4              5         F5   2  Normal  2389      0  1.013356         4
...          ...        ...  ..     ...   ...    ...       ...       ...
3064        3065  F2912repl   2    LumA   490      1  0.169352         5
3065        3066  F2958repl   2    Her2  1502      0  1.970687         6
3066        3067  F3057repl   2    LumA  1473      0  1.030736         4
3067        3068  F3085repl   2    LumB  1426      0  0.685621         5
3068        3069  F3135repl   1   Basal  1235      0  2.177618         6

[3069 rows x 8 columns]